* {
  border: none;
  outline: none;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: Arial, Verdana, Sans-serif;
  font-size: 24px;
  background-color: rgba(187, 192, 193, 0.5);
  text-align: center;
}

.boggle {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
}
.cell {
  width: 3rem;
  height: 3rem;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 196);
}

.msg {
  border: 1px solid black;
  width: 50vh;
  height: 2.5rem;
}
